@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  h2 {
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 6px;
 }

 h3 {
  font-weight: 700;
  font-size: 18px;
  color: limegreen;
  opacity: 0.8;
}

p {
  font-weight: 300;
  font-size: 15px;
}

  .primary {
    color: rgb(51, 224, 114);
  }
  .text-balance {
    text-wrap: balance;
  }
  .n-card {
    margin: 5px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    margin-bottom: 20px;
    shadow-color: #aaa;
    shadow-blur: 5;
    shadow-offsetX: 2;
    shadow-offsetY: 2;
    background: #00000036;
    color: whitesmoke;
    z-index: 1;
  }
  .pdf {
    width: 100%;
    background-color: white;
    color: black;
    padding: 12px;
    background-image: url('/ninja.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
  }
  .main-pdf {
    /* border: 1px solid gray; */
   
  background-color: #000000bf;
  }
  .pdf-header {
    font-weight: bold;
    text-transform: uppercase;
    /* text-align: center; */
    font-size: 46px;
  }
  .pdf-header h1 {
    
    text-decoration: underline;
  }

  .title {
    display: inline-flex;
    width: 100%;
  }

  .title-left {
    float: left;
    width: 35%;
  }
  .title-right {
    float: right;
    width: 65%;
  }
  .contact {
    width: 63%;
    float: right;
  }
  .contact-list {
    width: 50%;
    float: left;
    padding: 10px;
  }
  .name {
    font-size: 41px;
    font-weight: 600;
    font-family: cursive;
  }
  .name-des {
    font-size: 16px;
    font-weight: 500;
  }
  .exp-section {
    margin: 11px 0;
    padding: 0 12px;
}
.list { 
  border-left: 4px solid white;
}
  .exp-section {
    border-left: 4px solid white;
  }

  .list, .exp-list {
    list-style: disc;
    display: flex;
    flex-wrap: wrap;
    padding: 0 28px;
    margin: 13px 0;
  }
  .exp-list {
    margin: 3px 0 !important;
  }
  .list li {
    width: 25%;
    padding: 5px 0;
    box-sizing: border-box;
  }
  .exp-list li {
    width: 33.3%;
    padding: 5px 0;
    box-sizing: border-box;
  }


  .text-underline {
    text-decoration: underline;
  }
  .d-flex {
    display: flex;
  }
  .ml-2 {
    margin-left: 8px;
  }
  .download {
    background-color: rgb(15, 150, 195);
    color: white;
  }
}
